<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bd_bank_info"
        tools:targetApi="s">
        <activity
            android:name=".ui.bank.BankDetailsActivity"
            android:exported="false"
            android:label="@string/details"
            android:theme="@style/Theme.Bd_bank_info.NoActionBar" />
        <activity
            android:name=".ui.bank.BankListActivity"
            android:exported="false"
            android:label="@string/bank_list"
            android:theme="@style/Theme.Bd_bank_info.NoActionBar" />
        <activity
            android:name=".ui.swiftcode.SwiftCodeListActivity"
            android:exported="false"
            android:label="@string/swift_code_list"
            android:theme="@style/Theme.Bd_bank_info.NoActionBar" />
        <activity
            android:name=".ui.routings.RoutingBankListActivity"
            android:exported="false"
            android:label="@string/routings"
            android:theme="@style/Theme.Bd_bank_info.NoActionBar" />
        <activity
            android:name=".ui.routings.RoutingDetailsActivity"
            android:exported="false"
            android:label="@string/routings"
            android:theme="@style/Theme.Bd_bank_info.NoActionBar" />
        <activity
            android:name=".ui.commonwebview.CommonWebViewActivity"
            android:exported="false"
            android:label="@string/details"
            android:theme="@style/Theme.Bd_bank_info.NoActionBar" />
        <activity
            android:name=".ui.HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.Bd_bank_info.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>